
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Restaraunts list:</title>
</head>
<body>
<p>Restaurants</p>
<form method="get" th:action="@{Restaurants}">
<ul>
    <li th:each="restaurant:${allRestaurants}" >
        <a th:href="@{/Restaurants/{id}(id=${restaurant.id})}"

           th:text="${restaurant.name}">Название ресторана</a>


        <span th:text="' - ' + ${restaurant.address}">Адрес</span>



    </li>
</ul>



</form>
</body>
<script>
</script>
</html>