<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="@{RestaurantByID.name}" >Restaurants</title>
</head>
<body style="background: #2c3e50; color: white; padding: 20px;">

<h1 th:text="${RestaurantByID.name}">Name</h1>
<p th:text="${RestaurantByID.description}">Description</p>
<hr>

<h3>Menu:</h3>
<ul>
    <li th:each="item : ${menuItems}">
        <span th:text="${item.name}">Dishes</span>
        — <b th:text="${item.price} + ' EUR'">Price</b>

        <form th:action="@{/cart/add/{id}(id=${item.id})}" method="post" style="display:inline;">
            <button type="submit">add to cart</button>
        </form>
    </li>
</ul>

<div th:if="${menuItems == null or #lists.isEmpty(menuItems)}">
    <p>There is no dishes here</p>
</div>

<br>
<a href="/Restaurants" style="color: lightblue;">Back</a>


<div style="margin-top: 30px; border-top: 1px solid #555; padding-top: 20px;">
    <a href="/Cart" style="background-color: #f1c40f; color: #2c3e50; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;">
        Go to cart
    </a>
</div>
</body>
</html>